.body{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.image{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    margin: auto;
    /* border: 2px solid green; */
}
.image img{
    width: 30%;
    margin-right: 13rem;
    
}

.text{
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
    margin-top: 9rem;
}