.main{
}

.nav{
    background-color: #43E673;
    padding: 2.5rem 2.5rem;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/27px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.sides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 3rem;
}

#cars{
    background-color: transparent;
    border: none;
}
/* lhs */
.lhs{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.lhs li{
    position: relative;
    padding-left: 4rem;
}

.lhs li select{
    padding: 1rem;
}
.logo{
    background-image: url(./Group\ 556.svg);
    width: 2rem;
    height: 4rem;
}
/* rhs */
.rhs{
    display: flex;
    padding-left: 4rem;
    cursor: pointer;
}

.rhs li{
    position: relative;
    padding-right: 4rem;
}

/* input */
input{
    padding: 10px;
    width: 50rem;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-bottom: 10px;
    background-color: rgb(232, 240, 254);
}
.input select{
    padding: 10px;
    width: 15rem;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-bottom: 10px;
    margin-right: 6rem;
    background-color: rgb(232, 240, 254);
}

button{
    padding: 10px;
    width: 15rem;
    outline: none;
    border: 1px solid #cfcfcf;
    margin-bottom: 10px;
    background-color: rgb(232, 240, 254);
}


/* section 2 */
.body{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.image{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    margin: auto;
    /* border: 2px solid green; */
}
.image img{
    width: 30%;
    margin-right: 13rem;
    
}

.text{
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
    margin-top: 9rem;
}