*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: #43E673;
    width: 100%;
    height: 14rem;
}

.nav {
    display: flex;
    margin-bottom: 2rem;
}

.nav .lhs{
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center
}

.lhs p{
    font-size: 2.5rem;
    margin-left: 2rem;
}

.cars{
    border: 2px solid transparent;
    width: 8rem;
    height: 3rem;
    background-color: transparent;
}



.nav .rhs{
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5rem;
}

.rhs p{
    font-size: 1rem;
    margin-left: 1.5rem;
}


.input{
    display: flex;
}

.input input{
    flex: 50%;
    margin-left: 2rem;
}

.input select{
    flex: 25%;
    margin-right: 2.5rem;
}

.carss{
    border: 2px solid transparent;
    width: 8rem;
    height: 3rem;
}

.input button{
    flex: 25%;
    margin-right: 2.5rem;
} 